 <div class="container mt-5">
    <h3>قائمة بالملفات المرفقة مع الطلب</h3>
 {{#each this.res_files}}
         <div class="row py-3" style="align-items: center;">
            <div class="col-md-3" style="font-weight:900"><i class="fa fa-file text-success ms-1" style="font-size: 25px;"></i> {{this.name}}</div>
           
            <div class="col-md-3 text-center"> 
                <a class="btn btn-danger btn-sm" href="/remFile/{{this.id}}">حذف</a>
             <a class="btn btn-success btn-sm" href="/downloadFile/{{this.name}}">عرض</a>
            
         </div>
         {{/each}}
         </div>