<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
   
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form method="post" action="/login">
          <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
            <p class="alert alert-danger">{{this.message}}</p>
            
          </div>


          <!-- Email input -->
          <div data-mdb-input-init class="form-outline mb-4">
            <input type="email" id="form3Example3" name="email" class="form-control form-control-lg"
             style="    text-align: right;"/>
            <label class="form-label" for="form3Example3">الإيميل</label>
          </div>

          <!-- Password input -->
          <div data-mdb-input-init class="form-outline mb-3">
            <input type="password" id="form3Example4" name="password" class="form-control form-control-lg"
             />
            <label class="form-label" for="form3Example4">كلمة السر</label>
          </div>
          <div class="text-center text-lg-start mt-4 pt-2">
            <button  type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-success btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem;">دخول</button>
           <a  href="/regNew" data-mdb-button-init data-mdb-ripple-init class="btn btn-warning btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem;">تسجيل جديد</a>
          </div>
          <hr>
<div class="text-center text-lg-start mt-4 pt-2">
 
        
          </div>
        </form>
      </div>

      
    </div>
  </div>

</section>